.enterYourEmail {
  position: absolute;
  width: 44.88%;
  top: 25%;
  left: 4.88%;
  line-height: 30px;
  font-weight: 500;
  display: inline-block;
}
.componentChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-51xl);
  border: 2px solid var(--color-darkgray);
  box-sizing: border-box;
}
.componentItem {
  position: absolute;
  height: 76.67%;
  width: 11.22%;
  top: 11.67%;
  right: 1.71%;
  bottom: 11.67%;
  left: 87.07%;
  border-radius: 50%;
  background-color: var(--color-mediumaquamarine-200);
}
.arrowRight11Icon {
  position: absolute;
  height: 40%;
  width: 5.85%;
  top: 30%;
  right: 4.39%;
  bottom: 30%;
  left: 89.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.enterYourEmailHereParent {
  position: absolute;
  top: 2837px;
  left: 38px;
  width: 410px;
  height: 60px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkgray);
  font-family: var(--font-inter);
}
